*.log
*.swp
*.swo
*.pyc
.gdb
.vimsession
*.idat.*
.DS_Store
secondary/tests/testdata/Users10k.txt.gz
secondary/triage
secondary/bin/indexer
secondary/bin/projector
secondary/cmd/indexer/indexer
secondary/cmd/projector/projector
secondary/protobuf/data/*.pb.go
secondary/protobuf/projector/*.pb.go
secondary/protobuf/query/*.pb.go
